*{
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	height: 100%;
}

.container-center{
	margin-left: -10em;
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

h1{
	margin-top: -20em;
	margin-right: -20em;
}


.horimiya{
	color: white;
}

ul.navigator{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 11.5em;
    left: 75em;
    width: 17em;
}

ul.navigator li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: #6B6B6B;
}

ul.navigator2{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 13.5em;
    left: 75em;
    width: 17em;
}

ul.navigator2 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator2 a{
    text-decoration: none;
}

ul.navigator3{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15.5em;
    left: 75em;
    width: 17em;
}

ul.navigator3 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator3 a{
    text-decoration: none;
}

ul.navigator4{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 17.5em;
    left: 75em;
    width: 17em;
}

ul.navigator4 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator4 a{
    text-decoration: none;
}

ul.navigator5{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 19.5em;
    left: 75em;
    width: 17em;
}

ul.navigator5 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator5 a{
    text-decoration: none;
}

ul.navigator6{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 21.5em;
    left: 75em;
    width: 17em;
}

ul.navigator6 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator6 a{
    text-decoration: none;
}

ul.navigator7{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 23.5em;
    left: 75em;
    width: 17em;
}

ul.navigator7 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator7 a{
    text-decoration: none;
}

ul.navigator8{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25.5em;
    left: 75em;
    width: 17em;
}

ul.navigator8 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator8 a{
    text-decoration: none;
}

ul.navigator9{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 27.5em;
    left: 75em;
    width: 17em;
}

ul.navigator9 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator9 a{
    text-decoration: none;
}

ul.navigator10{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 29.5em;
    left: 75em;
    width: 17em;
}

ul.navigator10 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator10 a{
    text-decoration: none;
}

ul.navigator11{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 31.5em;
    left: 75em;
    width: 17em;
}

ul.navigator11 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator11 a{
    text-decoration: none;
}

ul.navigator12{
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 33.5em;
    left: 75em;
    width: 17em;
}

ul.navigator12 li{
    margin: 0.4em 0;
    padding: 0.3em;
}

ul.navigator12 a{
    text-decoration: none;
}